[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "nbapalettes"]
	path = nbapalettes
	url = https://github.com/murrayjw/nbapalettes
